In [1]:
import pandas as pd
import numpy as np
from tslearn.metrics import dtw
from tslearn import metrics
import time

/public/home/weixun/.conda/envs/rl/lib/python3.8/site-packages/tslearn/bases/bases.py:15: UserWarning: h5py not installed, hdf5 features will not be supported.
Install h5py to use hdf5 features: http://docs.h5py.org/
  warn(h5py_msg)

In [2]:
a = np.random.normal(3, 2.5, size=(2, 100))

In [3]:
dtw(a[0], a[1])

17.678760729740112

In [4]:
a

array([[10.85968644,  3.93538877,  6.08667609, -0.48747041, -0.31829934,
         5.11917219,  2.21688888,  3.23922264,  6.15848245,  2.92672127,
         3.40367783,  5.25405333,  4.38819601, -0.82431024,  2.18160542,
        -2.3034595 ,  3.61721955,  2.22149807,  1.59420232,  1.61697651,
        -2.95402115,  2.63715146, 10.89077467,  8.55052713,  4.5590141 ,
         1.7476846 ,  3.65774083,  6.0124155 ,  3.79660198,  1.36425677,
         3.88051921,  4.74249447,  0.75684314,  5.96313214,  2.67378472,
         3.70747233,  2.85808626, -0.91434159,  0.73523303,  5.55675403,
         2.86737638,  3.22850334,  6.41312172,  4.55242505, -0.89636086,
         7.98930045,  7.21515591,  0.61401715,  1.90875207,  1.52802277,
         1.50919231, -0.31855064,  3.52904737,  5.38457247,  3.58393022,
         4.48097333,  5.32709972,  6.73957912,  1.19219096,  1.59060663,
         4.76326227, -1.79630148,  2.72078334,  8.21157095,  8.96064334,
         1.1825839 ,  2.58395854,  1.92730851,  0.26190208,  2.10963129,
         5.18986132,  4.4666497 ,  6.61968142,  5.52666466,  3.12860413,
         7.00484025,  4.29787675,  4.19704745,  0.89621913,  1.89969947,
         0.50765391,  3.68533757,  8.26762556,  3.1923125 ,  1.68655505,
         0.35342394,  3.0563384 ,  3.14248198,  4.12494952,  5.63731261,
         4.56827927,  1.3170693 ,  1.15470596,  3.68114124,  2.50444374,
         0.61063876,  1.11293189,  6.68008571,  6.00753649, -1.03291848],
       [ 2.10427969,  3.93347843,  4.80661501,  4.25782898, -0.62288922,
         4.74555516,  5.00704798,  6.4063898 ,  5.27899991,  5.86610427,
         7.16779457,  2.93320042,  3.8119038 ,  4.03051362,  8.42583426,
         7.62755983,  1.05936238,  0.96172442,  0.03601597, -3.55569858,
         3.3762928 ,  2.83572678,  0.76701579,  8.44948016,  5.26508292,
         0.51909806, -1.47468944,  4.0635378 ,  6.87333858, -0.13561346,
         4.63979346,  3.11050185,  4.44956899,  5.2598072 ,  2.37095673,
         3.39437827, -2.08743363,  3.15115309,  3.28586277,  6.46116794,
         0.56774126,  6.49297663,  4.97945559,  1.91694721,  0.38957516,
         1.85204336,  1.62866687,  3.80508446,  5.56628417,  2.06003109,
         4.33933387,  5.08358019,  2.35179491,  2.86490188,  2.01354836,
         3.59954988,  4.42723121,  5.86609409,  2.0973496 ,  5.45140243,
         1.94844809,  4.30767097, -0.96261707,  1.80333255,  2.75474962,
         6.1067261 ,  0.88694616,  1.63274737,  0.51601864,  2.17388603,
         4.21944044,  4.26811475,  3.08002604,  2.30560159,  4.10931425,
         3.40538778,  2.93065723,  0.88479952,  4.47552321,  3.39850262,
         5.75268855,  3.7686634 ,  4.7917824 ,  0.89690304,  1.58723558,
         0.23277642,  4.49345687,  5.67384377,  3.50906474,  6.03394322,
         4.13655521, -0.21187325,  0.06735045,  4.09435721,  4.06685868,
         2.98429016,  4.75159021,  1.82835784,  4.01960287, -3.80711943]])

In [5]:
a = [1,2,3]
b = [1,2,2,3,4]
dtw(a, b)

1.0

In [6]:
matrix = []
for i in range(3):
    p1 = a[i]
    m = []
    for j in range(5):
        p2 = b[j]
        x = np.power((p1-p2), 2)
        m.append(x)
    print(m)
    matrix.append(m)
print('---')
matrix

[0, 1, 1, 4, 9]
[1, 0, 0, 1, 4]
[4, 1, 1, 0, 1]
---

[[0, 1, 1, 4, 9], [1, 0, 0, 1, 4], [4, 1, 1, 0, 1]]

In [7]:
metrics.dtw_path(a, b)

([(0, 0), (1, 1), (1, 2), (2, 3), (2, 4)], 1.0)

In [8]:
metrics.dtw_path_from_metric(matrix)

ValueError: Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required by check_pairwise_arrays.

In [9]:
from sklearn.metrics import pairwise_distances
a = np.array(a).reshape(1, -1)
b = np.array([2,3,2]).reshape(1, -1)

pairwise_distances(a, b)

array([[1.73205081]])

In [10]:
sum = 0
for i in range(3):
    sum += np.power((a[0,i] - b[0,i]), 2)
sum

3

In [11]:
rng = np.random.RandomState(0)
s1, s2 = rng.rand(5, 2), rng.rand(6, 2)

In [12]:
s1, s2

(array([[0.5488135 , 0.71518937],
        [0.60276338, 0.54488318],
        [0.4236548 , 0.64589411],
        [0.43758721, 0.891773  ],
        [0.96366276, 0.38344152]]),
 array([[0.79172504, 0.52889492],
        [0.56804456, 0.92559664],
        [0.07103606, 0.0871293 ],
        [0.0202184 , 0.83261985],
        [0.77815675, 0.87001215],
        [0.97861834, 0.79915856]]))

In [13]:
m = pairwise_distances(s1, s2)
m

array([[0.30612356, 0.2112843 , 0.7891329 , 0.54148195, 0.27670999,
        0.43793039],
       [0.18963685, 0.38229325, 0.70162138, 0.64973151, 0.36942074,
        0.45378731],
       [0.38621822, 0.31477278, 0.66072543, 0.44455307, 0.41940497,
        0.57573824],
       [0.50704448, 0.13477076, 0.8842009 , 0.42153982, 0.34126404,
        0.54890083],
       [0.2252094 , 0.67115269, 0.94052292, 1.04491552, 0.52073358,
        0.41598597]])

In [14]:
m.shape, s1.shape, s2.shape

((5, 6), (5, 2), (6, 2))

In [15]:
metrics.dtw_path_from_metric(m, metric='precomputed')

([(0, 0), (0, 1), (1, 2), (2, 3), (3, 4), (4, 5)], 2.4208323179319198)

In [16]:
dp = np.zeros((5, 6))
dp

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [17]:
for i in range(5):
    for j in range(6):
        if i==0 and j==0:
            dp[i, j] = m[i, j]
            continue
        a, b, c = 10, 10, 10
        if i >=1 and j>=1:
            a = dp[i-1, j-1]
        if i>=1:
            b = dp[i-1, j]
        if j>=1:
            c = dp[i, j-1]
        dp[i, j] = m[i,j] + min(min(a, b), c)
dp

array([[0.30612356, 0.51740786, 1.30654076, 1.84802271, 2.1247327 ,
        2.56266309],
       [0.49576041, 0.68841681, 1.21902923, 1.86876075, 2.21744344,
        2.57852001],
       [0.88197863, 0.81053319, 1.34914224, 1.6635823 , 2.08298727,
        2.65872551],
       [1.3890231 , 0.94530396, 1.69473409, 1.77068207, 2.00484634,
        2.55374717],
       [1.6142325 , 1.61645665, 1.88582688, 2.73964961, 2.29141564,
        2.42083232]])

In [59]:
plt_data = pd.read_csv('plt_data.csv')
all_val = pd.read_csv('all_val.csv')
f_13 = pd.read_csv('res/final_13.csv')
f_13 = f_13[f_13.columns[1:]]
predict = pd.read_csv('predict.csv')
plt_data.shape, all_val.shape, f_13.shape, predict.shape

((886, 3), (11244, 18), (26329, 419), (11244, 1))

In [60]:
IN = plt_data[plt_data['kind'] == 'IN']
IN

             no  len_trace kind
170   536_02_-1         76   IN
171  1181_02_-1         89   IN
172  1182_02_-1         89   IN
173    45_07_-1         78   IN
174   363_07_-1         94   IN
..          ...        ...  ...
311  1627_52_-1         58   IN
312   749_54_-1         50   IN
313  1141_54_-1         54   IN
314  1142_54_-1         54   IN
315  1186_54_-1         48   IN

[146 rows x 3 columns]

In [61]:
num = 0
fn_num = 0
fn_will_t = 0
tp_num = 0
for i in IN.index:
    FN = all_val[(all_val['no'] == IN.loc[i]['no']) &
                 (all_val['label'] != predict['label'])]
    TP = all_val[(all_val['no'] == IN.loc[i]['no']) &
                 (all_val['label'] == predict['label'])]
    # print(FN.shape[0], )
    fn_num += FN.shape[0]
    tp_num += TP.shape[0]
    if FN.shape[0] < TP.shape[0]:
        fn_will_t += (FN.shape[0] + TP.shape[0])
        num += 1
num, fn_will_t, fn_num, tp_num, fn_num+tp_num, len(IN.index),

(116, 2800, 907, 2472, 3379, 146)

In [62]:
IN2 = plt_data[plt_data['kind'] == 'IN2']
num = 0
fp_num = 0
fp_will_t = 0
tn_will_f = 0
tn_num = 0
for i in IN2.index:
    FP = all_val[(all_val['no'] == IN2.loc[i]['no']) &
                 (all_val['label'] != predict['label'])]
    TN = all_val[(all_val['no'] == IN2.loc[i]['no']) &
                 (all_val['label'] == predict['label'])]
    # print(FN.shape[0], )
    fp_num += FP.shape[0]
    tn_num += TN.shape[0]
    if FP.shape[0] < TN.shape[0]:
        fp_will_t += FP.shape[0]
        num += 1
    else:
        tn_will_f += TN.shape[0]
num, fp_will_t, fp_num, tn_num, fp_num+tn_num, len(IN2.index), tn_will_f

(227, 537, 631, 2641, 3272, 253, 63)

In [63]:
FP = plt_data[plt_data['kind'] == 'FP']
num = 0
for i in FP.index:
    i = FP.loc[i]
    num += all_val[all_val['no'] == i['no']].shape[0]
num

20

In [64]:
TP = plt_data[plt_data['kind'] == 'TP']
TN = plt_data[plt_data['kind'] == 'TN']

In [188]:
all_val[all_val['no'].isin(IN2['no'])]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,no,label,id
5624,1.697074e+04,9581.888625,1.442969e+04,9.222122e+03,16632.002024,-13372.156089,-1.013209e+04,3430.582631,-2572.921555,30.131705,-4750.626614,-33359.374402,8000.263443,-1035.441781,9822.350976,378_42_-1,0,17133
5626,-5.415024e+06,20309.179740,-3.689564e+06,1.730858e+06,460398.435854,-584834.057856,1.006428e+06,639904.470921,-48552.906808,-556225.344649,409257.881363,904704.048670,-135106.488980,269526.977262,-216617.347064,35_02_-1,0,1844
5628,2.056466e+04,-33422.609222,-1.346922e+04,2.414103e+03,-7743.543190,-1177.949761,1.799619e+04,11301.819911,4639.086539,667.274145,-4063.002154,-51102.995337,-182.998805,7922.217017,-4721.467563,803_35_-1,0,5299
5629,1.254620e+04,-3653.118393,-2.687791e+04,-2.933456e+04,-28614.335957,20140.871041,1.883240e+04,-1407.985197,56971.368551,-34157.867697,-9743.915749,-51821.536019,8371.677856,924.704314,-3662.258347,1032_18_-1,0,20240
5633,-2.987313e+05,66186.939351,-3.572391e+05,3.889809e+05,252910.940797,411249.606950,1.120160e+05,-449321.306186,91889.919897,272893.920216,-274350.021366,273197.398510,-28859.926195,-383280.477770,168019.378234,35_02_-1,0,1849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11234,-2.271234e+04,127722.666633,3.702868e+04,1.938105e+04,147517.215014,-13950.896993,-5.380705e+04,36337.385006,36884.956171,-20760.848766,1847.499934,-6315.979475,-21772.722426,24842.307690,-21195.231837,1309_50_-1,0,11900
11235,-3.013810e+05,-37595.631219,1.066764e+05,-5.161285e+04,-57000.618718,54696.279749,-1.565438e+05,-78931.913076,108563.412861,-21456.778418,49237.143951,46922.805786,40789.875676,-47238.398143,34209.218229,113_30_-1,0,15507
11237,-4.329178e+05,417955.792263,1.085056e+05,-3.581504e+03,111679.237665,-35840.893326,-1.425381e+05,4643.782285,24533.934191,32956.224793,16129.679981,60534.252084,41552.658205,70999.278196,55994.281670,871_32_-1,0,4208
11240,1.170751e+04,70685.995245,-8.875503e+04,-1.272647e+05,10568.479070,-35869.567246,-3.362009e+04,-131626.131060,-13116.039656,-34033.952964,77942.391820,-36894.387439,-28317.806685,-80691.725216,-42209.720577,1129_40_-1,0,2289
11241,-1.544781e+05,-23436.085179,-3.635930e+04,-3.582689e+04,-58600.985022,14606.418958,-5.936410e+04,3858.395726,52611.576099,-18864.434775,-4829.237064,3617.526366,-14330.429733,-2765.984773,-7617.149932,21_54_-1,0,25308

In [66]:
FP.shape, TP.shape, TN.shape, IN2.shape

((8, 3), (157, 3), (309, 3), (253, 3))

In [71]:
FP

             no  len_trace kind
316  1233_06_-1         22   FP
317   971_08_-1         41   FP
318   328_18_-1         29   FP
319   675_20_-1         35   FP
320  1300_37_-1         17   FP
321  1272_42_-1         90   FP
322   962_49_-1         19   FP
323  1510_52_-1         14   FP

In [189]:
FP_val = all_val[all_val['no'].isin(FP['no'])]
TP_val = all_val[all_val['no'].isin(TP['no'])]
TN_val = all_val[all_val['no'].isin(TN['no'])]
IN2_val = all_val[all_val['no'].isin(IN2['no'])]

In [76]:
FP_val[['no', 'label', 'id']].head()

              no  label     id
5781  1272_42_-1      0  16741
6300  1272_42_-1      0  16746
6430   328_18_-1      0  20681
6479  1272_42_-1      0  16721
6549   962_49_-1      0  19799

In [91]:
TP_val[['no', 'label', 'id']].head()

           no  label    id
0  1839_08_-1      1  9034
1  1839_08_-1      1  9035
2  1839_08_-1      1  9036
3  1839_08_-1      1  9037
4  1839_08_-1      1  9038

In [178]:
TN_val[['no', 'label', 'id']]

               no  label     id
5622    426_11_-1      0  25811
5623    494_06_-1      0    446
5625   2205_08_-1      0  13111
5627    783_08_-1      0  13444
5630    752_31_-1      0   7553
...           ...    ...    ...
11236   627_49_-1      0  22986
11238    51_06_-1      0    561
11239    96_32_-1      0   7703
11242    55_30_-1      0  16164
11243  1171_49_-1      0  18987

[2330 rows x 3 columns]

In [133]:
for i in f_13.loc[9034].index[1:]:
    print(i, f_13.loc[9034][i])

girth 89.18376505374908
girth_full 92.18376505374908
area 406.5
elongation -1.622772686357734
eccentricity 0.924461298742412
convexity 1.1705989566556134
recty 0.6851597306737102
roundness 0.6011204875260896
major_axis 38.42509460449219
minor_axis 14.650562286376951
cent_m0 5811.216106325388
cent_m1 4551.648301899433
cent_m2 34788.577729940414
cent_m3 1182.5537109375
cent_m4 -8318.532419453375
cent_m5 -18409.539570387453
cent_m6 16081.33715057373
hu_m0 0.2456986263275028
hu_m1 0.0337871252767858
hu_m2 0.0004384213541954
hu_m3 3.216637925234359e-05
hu_m4 -3.0611979295809662e-09
hu_m5 -5.0641294832720295e-06
hu_m6 -2.284843521834047e-09
contrast 3.5742926215203275
dissimilarity 0.0478606986524761
homogeneity 0.9989648413797372
energy 0.9989432255068208
correlation 0.5635515845174316
ASM 0.9978875677859712
label 1
dense 317.5319095427219
girth_0 91.35533833503725
girth_full_0 93.35533833503725
area_0 422.5
elongation_0 -1.6108870997583329
eccentricity_0 0.9237435399580886
convexity_0 1.1568701043362453
recty_0 0.7222222222222222
roundness_0 0.6091977109671785
major_axis_0 38.69147109985352
minor_axis_0 14.819281578063965
cent_m0_0 6035.748356357217
cent_m1_0 4662.775065749884
cent_m2_0 38491.44066403806
cent_m3_0 1942.390411376953
cent_m4_0 -6348.029640661087
cent_m5_0 -22593.534037813544
cent_m6_0 -3474.329040527344
hu_m0_0 0.2494433053206556
hu_m1_0 0.0357871147526694
hu_m2_0 0.0003790990423521
hu_m3_0 3.884412335248639e-05
hu_m4_0 -9.049278981116004e-11
hu_m5_0 -2.8823606271527325e-06
hu_m6_0 4.712857252766367e-09
contrast_0 3.416537922352874
dissimilarity_0 0.0483005750579349
homogeneity_0 0.9989269928208624
energy_0 0.9989074633767444
correlation_0 0.5571814837535141
ASM_0 0.9978161203897622
dense_0 318.5650121550475
girth_1 89.18376529216766
girth_full_1 92.18376529216766
area_1 435.5
elongation_1 -1.493485462245844
eccentricity_1 0.916058332463308
convexity_1 1.1782074699554783
recty_1 0.7224618355892377
roundness_1 0.6440048486186137
major_axis_1 38.173099517822266
minor_axis_1 15.30913257598877
cent_m0_1 7106.704968735576
cent_m1_1 5401.975778147578
cent_m2_1 37338.18640770018
cent_m3_1 3345.18359375
cent_m4_1 -3436.01141544804
cent_m5_1 -23762.162633284926
cent_m6_1 -26327.71876525879
hu_m0_1 0.2343395169859565
hu_m1_1 0.0286527352693951
hu_m2_1 0.0003719359840594
hu_m3_1 8.316000503363029e-05
hu_m4_1 1.3204853751587792e-08
hu_m5_1 9.19194477052081e-06
hu_m6_1 6.287471455823511e-09
contrast_1 3.341794695734272
dissimilarity_1 0.0486617743827425
homogeneity_1 0.998911980347361
energy_1 0.9988931582513608
correlation_1 0.5512631912906315
ASM_1 0.997787541601378
dense_1 310.76365907589263
girth_2 89.76955211162567
girth_full_2 92.76955211162569
area_2 444.0
elongation_2 -1.207478575569957
eccentricity_2 0.8915077064429091
convexity_2 1.1641750719034212
recty_2 0.7302631578947368
roundness_2 0.6483087967022535
major_axis_2 38.41567993164063
minor_axis_2 17.402515411376953
cent_m0_2 7464.999749720097
cent_m1_2 5734.633258268237
cent_m2_2 39220.87331080437
cent_m3_2 5216.3131103515625
cent_m4_2 403.1252022963017
cent_m5_2 -31066.937562450767
cent_m6_2 -60053.13414764404
hu_m0_2 0.2368206368219121
hu_m1_2 0.029333588252929
hu_m2_2 0.0007788484062658
hu_m3_2 0.0002449365083711
hu_m4_2 1.0456771930049729e-07
hu_m5_2 3.7377120650104e-05
hu_m6_2 2.259494708702616e-08
contrast_2 3.3370132749692445
dissimilarity_2 0.0481181872800618
homogeneity_2 0.998897622388316
energy_2 0.9988752771287076
correlation_2 0.5461741634023515
ASM_2 0.9977518192589522
dense_2 313.97432647123594
girth_3 98.35533809661864
girth_full_3 99.35533809661864
area_3 503.5
elongation_3 -1.360257001837005
eccentricity_3 0.9058106816470556
convexity_3 1.147396830245196
recty_3 0.7404411764705883
roundness_3 0.6409540968488052
major_axis_3 41.78582000732422
minor_axis_3 17.703927993774414
cent_m0_3 9954.259102910755
cent_m1_3 8850.036784172058
cent_m2_3 50806.886709705
cent_m3_3 7791.65739440918
cent_m4_3 4618.354272881523
cent_m5_3 -36591.3378883563
cent_m6_3 -93295.18914794922
hu_m0_3 0.2396773560749658
hu_m1_3 0.0308429633904967
hu_m2_3 0.0007819379625239
hu_m3_3 0.0002686410876125
hu_m4_3 1.223755585831024e-07
hu_m5_3 4.605029098625651e-05
hu_m6_3 1.3560525201073216e-08
contrast_3 4.403938860755873
dissimilarity_3 0.0582639544531227
homogeneity_3 0.9987738316934284
energy_3 0.9987465329239882
correlation_3 0.5180547458036443
ASM_3 0.997494637027687
dense_3 309.3958107905125
girth_4 110.5979790687561
girth_full_4 111.5979790687561
area_4 595.0
elongation_4 -1.6806523609649142
eccentricity_4 0.9278138445480072
convexity_4 1.1329121124279324
recty_4 0.7503151501714881
roundness_4 0.6003633464449376
major_axis_4 46.82490539550781
minor_axis_4 17.467727661132812
cent_m0_4 12719.832586348057
cent_m1_4 13248.022268891336
cent_m2_4 79617.2579831779
cent_m3_4 9058.792434692385
cent_m4_4 7717.968609277159
cent_m5_4 -44822.77787171304
cent_m6_4 -131622.10187530518
hu_m0_4 0.260820819347577
hu_m1_4 0.0413081707079179
hu_m2_4 0.0005974725268443
hu_m3_4 0.0002230187040483
hu_m4_4 8.103925578670706e-08
hu_m5_4 4.4554655806561394e-05
hu_m6_4 7.74712632689169e-09
contrast_4 6.624291906274139
dissimilarity_4 0.071592567161617
homogeneity_4 0.99856411086763
energy_4 0.9985391118053072
correlation_4 0.5390113314585042
ASM_4 0.9970803578049318
dense_4 310.302737651375
girth_5 107.18376541137695
girth_full_5 110.18376541137695
area_5 590.5
elongation_5 -1.67319651469509
eccentricity_5 0.9273948315250574
convexity_5 1.1246902568559292
recty_5 0.7769430127117888
roundness_5 0.6112157634400065
major_axis_5 46.08369445800781
minor_axis_5 17.239171981811523
cent_m0_5 12477.186494499443
cent_m1_5 12735.528753906488
cent_m2_5 78187.25376331806
cent_m3_5 8568.33120727539
cent_m4_5 5717.43637178652
cent_m5_5 -42815.16650310159
cent_m6_5 -109375.99759674072
hu_m0_5 0.2600142684167896
hu_m1_5 0.0408487246471066
hu_m2_5 0.0004844595994796
hu_m3_5 0.0001659975949442
hu_m4_5 4.666384693717571e-08
hu_m5_5 3.2348796108044765e-05
hu_m6_5 6.200861042340413e-09
contrast_5 6.058950590793351
dissimilarity_5 0.0688281406460103
homogeneity_5 0.998576901305444
energy_5 0.998548052531528
correlation_5 0.5820220030715919
ASM_5 0.9970982132145072
dense_5 310.3402775477713
girth_6 96.84061968326569
girth_full_6 97.84061968326569
area_6 495.5
elongation_6 -1.2024260135272509
eccentricity_6 0.8909788729786414
convexity_6 1.157336301135233
recty_6 0.7171511760834334
roundness_6 0.650451820402427
major_axis_6 38.74024963378906
minor_axis_6 17.589807510375977
cent_m0_6 11394.05709719658
cent_m1_6 8265.754919275641
cent_m2_6 41420.52945959568
cent_m3_6 10196.272079467772
cent_m4_6 4525.769111018628
cent_m5_6 -32281.548478212208
cent_m6_6 -67281.94826507568
hu_m0_6 0.2151129552727005
hu_m1_6 0.0194903134592214
hu_m2_6 0.0006025001246242
hu_m3_6 0.0001481844655238
hu_m4_6 4.4092982522358896e-08
hu_m5_6 2.037711769902616e-05
hu_m6_6 4.03749271012629e-09
contrast_6 3.375414842788888
dissimilarity_6 0.0495808657339856
homogeneity_6 0.9988198747225452
energy_6 0.998782295182088
correlation_6 0.5430591456066821
ASM_6 0.9975660731691998
dense_6 313.3502758845355
girth_7 88.01219248771667
girth_full_7 91.01219248771667
area_7 481.5
elongation_7 -0.9418692488443374
eccentricity_7 0.8572095639611055
convexity_7 1.1832020629361528
recty_7 0.7331393075710702
roundness_7 0.7304777669514466
major_axis_7 35.459381103515625
minor_axis_7 18.26043701171875
cent_m0_7 11235.031412243845
cent_m1_7 5258.565809980035
cent_m2_7 34097.142523378134
cent_m3_7 10079.201522827148
cent_m4_7 5049.179811641574
cent_m5_7 -25324.06978407502
cent_m6_7 -37093.44397735596
hu_m0_7 0.1955302535910602
hu_m1_7 0.0117818868118963
hu_m2_7 0.0003915596855487
hu_m3_7 4.865498633139413e-05
hu_m4_7 6.401713272551543e-09
hu_m5_7 4.739381469945665e-06
hu_m6_7 2.0293915348319087e-09
contrast_7 3.188599691013648
dissimilarity_7 0.0480287815065945
homogeneity_7 0.9988458855488864
energy_7 0.9988162693743432
correlation_7 0.5575948869439797
ASM_7 0.9976339399668808
dense_7 313.40345938176347
girth_8 90.42640614509584
girth_full_8 92.42640614509584
area_8 512.0
elongation_8 -0.9039864956962818
eccentricity_8 0.8509703018697227
convexity_8 1.1952874553661994
recty_8 0.7364328624567729
roundness_8 0.75316077209512
major_axis_8 35.91469192504883
minor_axis_8 18.862892150878903
cent_m0_8 12407.833116322756
cent_m1_8 5591.408745646477
cent_m2_8 38580.752549916506
cent_m3_8 9435.728469848633
cent_m4_8 5402.619852874428
cent_m5_8 -23527.789748396724
cent_m6_8 -36109.04723358154
hu_m0_8 0.1945060183190889
hu_m1_8 0.011788173560067
hu_m2_8 0.000259777685171
hu_m3_8 3.24425534917337e-05
hu_m4_8 2.84617990302046e-09
hu_m5_8 3.1613656689062764e-06
hu_m6_8 8.77346038896901e-10
contrast_8 3.481621749206077
dissimilarity_8 0.0528245071953766
homogeneity_8 0.998771761625529
energy_8 0.9987501093438004
correlation_8 0.5490551329793707
ASM_8 0.9975017809142532
dense_8 313.4272855594345
girth_9 88.5979791879654
girth_full_9 91.5979791879654
area_9 505.0
elongation_9 -0.7701016917841803
eccentricity_9 0.8251324706591778
convexity_9 1.1775792557183664
recty_9 0.7569467813923724
roundness_9 0.7563615744208078
major_axis_9 34.35902404785156
minor_axis_9 19.410762786865234
cent_m0_9 12680.15258526802
cent_m1_9 5550.577117711306
cent_m2_9 35957.5294829458
cent_m3_9 9888.24771118164
cent_m4_9 4016.911836116575
cent_m5_9 -24559.78643879667
cent_m6_9 -28866.15450286865
hu_m0_9 0.1907173103351194
hu_m1_9 0.0102259363862368
hu_m2_9 0.0002636012649106
hu_m3_9 2.535431997949956e-05
hu_m4_9 1.834156089966825e-09
hu_m5_9 2.084193078321366e-06
hu_m6_9 9.655352959462427e-10
contrast_9 3.06863860040626
dissimilarity_9 0.0493233771064
homogeneity_9 0.9987891603040336
energy_9 0.9987679905240676
correlation_9 0.5673001602500141
ASM_9 0.9975374988954836
dense_9 312.9973370967155
girth_10 90.01219236850739
girth_full_10 91.0121923685074
area_10 497.5
elongation_10 -0.7149084994403572
eccentricity_10 0.8123849626237087
convexity_10 1.1744026949321442
recty_10 0.7499249308456145
roundness_10 0.7547511734379081
major_axis_10 33.808502197265625
minor_axis_10 19.71446418762207
cent_m0_10 12389.473283052444
cent_m1_10 4863.157830789685
cent_m2_10 34168.01164151728
cent_m3_10 9516.93669128418
cent_m4_10 4698.452397012152
cent_m5_10 -22390.9634254165
cent_m6_10 -27502.414070129395
hu_m0_10 0.1881063000411897
hu_m1_10 0.009286843674636
hu_m2_10 0.0002497563124432
hu_m3_10 2.2501294530896552e-05
hu_m4_10 1.505407293478347e-09
hu_m5_10 1.7799750409320653e-06
hu_m6_10 7.609996343703373e-10
contrast_10 3.088601121506023
dissimilarity_10 0.0492160901782393
homogeneity_10 0.9987998415564266
energy_10 0.9987787190888104
correlation_10 0.5656552548991844
ASM_10 0.9975589297046846
dense_10 313.83314810514617
girth_11 87.59797883033752
girth_full_11 89.59797883033752
area_11 499.0
elongation_11 -0.6865821284945641
eccentricity_11 0.8052649825923203
convexity_11 1.1830624014490472
recty_11 0.7560606060606061
roundness_11 0.7811132124401418
major_axis_11 33.37190628051758
minor_axis_11 19.78670692443848
cent_m0_11 12532.917112022638
cent_m1_11 4346.456858173013
cent_m2_11 33918.08561569452
cent_m3_11 10552.563766479492
cent_m4_11 6685.7677781628445
cent_m5_11 -23932.31183855608
cent_m6_11 -30832.772758483887
hu_m0_11 0.1865494625632714
hu_m1_11 0.0085948275120978
hu_m2_11 0.0003028965499011
hu_m3_11 2.463239689746101e-05
hu_m4_11 1.8665213662133508e-09
hu_m5_11 1.8507699839767984e-06
hu_m6_11 1.021341350102041e-09
contrast_11 3.068109318227334
dissimilarity_11 0.0492447000257488
homogeneity_11 0.9988007641697426
energy_11 0.9987787191624394
correlation_11 0.5807929837505056
ASM_11 0.9975589298517632
dense_11 313.38984780793066
shift_0 1.2905110994313238
shift_1 0.5019365495327323
shift_2 0.8343560983940365
shift_3 0.6325097279556806
shift_4 0.8918497402414112
shift_5 1.7805141060305067
shift_6 3.046209310442918
shift_7 5.004851416884783
shift_8 6.612932900719466
shift_9 6.813471887211551
shift_10 6.793759682474282
shift_11 7.888096064498419
shift_sum 7.888096064498419
distance 42.09099858381711

In [159]:
def get_matrix(no):
    m = []
    idx = list(dict(f_13.loc[no].items()).values())[1:]
    t = idx[0: 30]
    t.append(idx[31])
    m.append(t)
    for i in range(1, 13):
        m.append(idx[i*31+1: (i+1)*31+1])
    return m

In [186]:
# TP内部比较
m1 = get_matrix(9034)
m2 =  get_matrix(9035)
m = pairwise_distances(m1, m2)
print(m.shape)
a, b = metrics.dtw_path_from_metric(m, metric='precomputed')
b

(13, 13)

76128.0099705541

In [185]:
# TP FP比较
m1 = get_matrix(9034)
m2 =  get_matrix(16741)
m = pairwise_distances(m1, m2)
print(m.shape)
a, b = metrics.dtw_path_from_metric(m, metric='precomputed')
b

(13, 13)

915925.5651279001

In [184]:
# FP内部比较
m1 = get_matrix(16746)
m2 =  get_matrix(16741)
m = pairwise_distances(m1, m2)
print(m.shape)
a, b = metrics.dtw_path_from_metric(m, metric='precomputed')
b

(13, 13)

116533.45825757032

In [183]:
# TN内部比较
m1 = get_matrix(13444)
m2 =  get_matrix(7553)
m = pairwise_distances(m1, m2)
print(m.shape)
a, b = metrics.dtw_path_from_metric(m, metric='precomputed')
b

(13, 13)

349405.7422694879

In [182]:
# TN FP比较
m1 = get_matrix(13444)
m2 =  get_matrix(16741)
m = pairwise_distances(m1, m2)
print(m.shape)
a, b = metrics.dtw_path_from_metric(m, metric='precomputed')
b

(13, 13)

206115.46834619713

In [187]:
# TN TP比较
m1 = get_matrix(13444)
m2 =  get_matrix(9034)
m = pairwise_distances(m1, m2)
print(m.shape)
a, b = metrics.dtw_path_from_metric(m, metric='precomputed')
b

(13, 13)

921721.9633281257

In [191]:
IN2_val[['no', 'label', 'id']]

               no  label     id
5624    378_42_-1      0  17133
5626     35_02_-1      0   1844
5628    803_35_-1      0   5299
5629   1032_18_-1      0  20240
5633     35_02_-1      0   1849
...           ...    ...    ...
11234  1309_50_-1      0  11900
11235   113_30_-1      0  15507
11237   871_32_-1      0   4208
11240  1129_40_-1      0   2289
11241    21_54_-1      0  25308

[3272 rows x 3 columns]

In [193]:
all_val[(all_val['no'] == '378_42_-1') & (all_val['label'] != predict['label'])]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,no,label,id
8496,13195.173256,10395.805496,23102.149103,3318.138733,13877.171696,-1690.037042,-16117.160379,10141.304226,-13558.424652,-3718.737602,-3236.956071,-37970.919723,8811.941712,-12207.098021,-3425.680724,378_42_-1,0,17134

In [198]:
all_val[(all_val['no'] == '35_02_-1') & (all_val['label'] != predict['label'])]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,no,label,id
5633,-298731.347609,66186.939351,-357239.075775,388980.903905,252910.940797,411249.60695,112016.014934,-449321.306186,91889.919897,272893.920216,-274350.021366,273197.39851,-28859.926195,-383280.47777,168019.378234,35_02_-1,0,1849

In [199]:
all_val[(all_val['no'] == '35_02_-1') & (all_val['label'] == predict['label'])].head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,no,label,id
5626,-5.415024e+06,20309.179740,-3.689564e+06,1.730858e+06,4.603984e+05,-5.848341e+05,1.006428e+06,639904.470921,-48552.906808,-556225.344649,409257.881363,904704.048670,-135106.488980,269526.977262,-216617.347064,35_02_-1,0,1844
6632,-9.431069e+04,63120.714824,-1.601954e+04,7.866238e+03,-6.410496e+04,4.230420e+04,-8.200972e+04,-31577.314572,-14316.589128,-8283.302803,13965.410386,87155.472007,-31048.527510,15047.504536,-24998.574438,35_02_-1,0,1857
7842,-6.528483e+06,-619211.819801,-8.399394e+05,-8.509380e+05,-9.282400e+05,-1.516675e+06,5.014806e+05,-64367.796554,41677.384772,147582.570754,-558286.342044,894383.453844,-461698.772420,171881.295820,177717.505480,35_02_-1,0,1842
8911,-8.986742e+04,-25088.200998,-4.943305e+04,-6.949537e+04,-2.273854e+03,9.131304e+03,-1.294742e+04,46840.449239,91263.965435,-18026.315339,8592.812821,130504.221849,-5945.331947,-49039.811000,-23667.231242,35_02_-1,0,1867
9639,-4.215402e+06,198856.938343,-3.852182e+06,2.656066e+06,1.124599e+06,6.771273e+05,8.704258e+05,-213022.620661,114223.329560,-17514.643174,235452.590690,724055.434398,8067.247935,268062.681285,-208991.111451,35_02_-1,0,1845

In [197]:
all_val[(all_val['no'] == '378_42_-1') & (all_val['label'] == predict['label'])].head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,no,label,id
5624,16970.744970,9581.888625,14429.690558,9222.121995,16632.002024,-13372.156089,-10132.087118,3430.582631,-2572.921555,30.131705,-4750.626614,-33359.374402,8000.263443,-1035.441781,9822.350976,378_42_-1,0,17133
5661,-3909.274166,10151.027003,8700.733947,10333.028552,5206.771227,-10578.956124,-16160.916359,5499.574687,-7522.809155,2698.984306,-3307.464866,-56825.866353,-4111.704632,1405.153603,9733.875869,378_42_-1,0,17126
6269,-24368.771080,1387.949885,-23204.166784,4936.009932,-5035.951086,18297.303101,-20630.527495,-6082.240574,29438.135677,-30656.538468,-11694.343701,-54724.449016,-6217.872108,10300.532247,-810.987204,378_42_-1,0,17100
6327,-38790.736097,11765.183919,-26547.637835,3315.136582,-23031.666827,8111.950075,-29753.320167,7031.692388,38467.146148,-34494.612851,-7251.159960,-45412.097601,-10490.190182,14398.368244,-4113.161922,378_42_-1,0,17098
6336,-13365.474748,12849.818376,-10682.363989,-3431.526895,3390.556326,12282.212836,-22725.801366,6448.354979,32510.820442,-20229.990962,-5207.969662,-52091.339936,-8640.698816,-626.005742,-4557.870897,378_42_-1,0,17084

In [196]:
# IN2 同一no P N比较
m1 = get_matrix(17134) # P
m2 =  get_matrix(17133) # N
m = pairwise_distances(m1, m2)
print(m.shape)
a, b = metrics.dtw_path_from_metric(m, metric='precomputed')
b

(13, 13)

61930.300178060395

In [200]:
# IN2 不同no  P P比较
m1 = get_matrix(17134) # P
m2 =  get_matrix(1849) # P
m = pairwise_distances(m1, m2)
print(m.shape)
a, b = metrics.dtw_path_from_metric(m, metric='precomputed')
b

(13, 13)

3187792.053787003

In [201]:
# IN2 不同no  P N比较
m1 = get_matrix(17134) # P
m2 =  get_matrix(1844) # P
m = pairwise_distances(m1, m2)
print(m.shape)
a, b = metrics.dtw_path_from_metric(m, metric='precomputed')
b

(13, 13)

23348066.17273836

In [ ]:
# IN2 不同no  N N比较
m1 = get_matrix(17134) # P
m2 =  get_matrix(1844) # P
m = pairwise_distances(m1, m2)
print(m.shape)
a, b = metrics.dtw_path_from_metric(m, metric='precomputed')
b